<% include master %>
<% include header %>

	<!-- SUPPORT -->
	<section id="aboutcloudinone" style="color:rgb(2, 39, 24); font-family: Lucida Sans Unicode; font-weight: 500;">
		<div class="container">

		<header class="text-center margin-bottom-40">
			<h2 class=" margin-bottom-20"  style="color: darkgreen; font-weight: 700;">Về ứng dụng CloudInOne</h2>
			<p class="lead font-lato"><b>Ứng dụng quản lý dữ liệu người dùng trên nhiều tài khoản đám mây</b></p>
			<p class="lead font-lato"> Hiện tại ứng dụng đã hoàn chỉnh hoàn toàn các chức năng ở Tài khoản đám mây Google. </p>
			<p class="lead font-lato">Người dùng có thể thêm nhiều tài khoản Google Drive khác nhau vào ứng dụng để quản lý cùng lúc, người dùng còn có thể thêm vào ứng dụng nhiều tài khoản thuộc các loại tài khoản OneDrive và Dropbox, tuy nhiên do thời gian có hạn nên còn một số chức năng chưa hoàn chỉnh.</p>
			<p class="lead font-lato">Một số chức năng được hổ trợ trên ứng dụng như quản lý chung các tệp, xem tệp (thư mục), chia sẻ, di chuyển giữa các tài khoản, sao chép, quản lý từng tài khoản, xem theo phân loại và lọc nâng cao giúp dễ dàng quản lý và tìm thư mục(file) theo nhu cầu.</p>
			<hr />
		</header>

		</div>
	</section>
	<!-- /Support -->

		<!-- SUPPORT -->
		<section id="aboutteam" style="color:rgb(2, 39, 24); font-family: Lucida Sans Unicode; font-weight: 500;">
			<div class="container">
	
			<header class="text-center margin-bottom-60">
				<h2 class=" margin-bottom-20"  style="color: darkgreen; font-weight: 700;">Về đội ngũ xây dựng</h2>
				<p class="lead font-lato">Ứng dụng là sản phẩm khoá luận tốt nghiệp của sinh viên trường Đại học Công nghệ thông tin - ĐHQG HCM </p>
				<p class="lead font-lato"> Hoàng Trọng Nghĩa - 16521747</p>
				<p class="lead font-lato">Võ Thị Ngọc Huyên - 16521694</p>
				
				<hr />
			</header>
	
			</div>
		</section>
		<!-- /Support -->

			<!-- SUPPORT -->
	<section id="aboutcontact" style="color:rgb(2, 39, 24); font-family: Lucida Sans Unicode; font-weight: 500;">
		<div class="container">

		<header class="text-center margin-bottom-60">
			<h2 class=" margin-bottom-20"  style="color: darkgreen; font-weight: 700;">Liên hệ với chúng tôi</h2>
			<p class="lead font-lato">Email CloudInOne: <a href="mailto:support@cloudinone.com">support@cloudinone.com</a></p>
			<p class="lead font-lato">Email Nghĩa: <a href="mailto:16521747@gm.uit.edu.vn">16521747@gm.uit.edu.vn</a></p>
			<p class="lead font-lato">Email Huyên: <a href="mailto:16521694@gm.uit.edu.vn">16521694@gm.uit.edu.vn</a></p>
			<hr />
		</header>

		</div>
	</section>
	<!-- /Support -->

<% include footer %>