<!-- FOOTER -->
			<footer id="footer">
				<div class="container pt-0 pb-0">

					<div class="row mt-60 mb-0 fs-13">

						<!-- col #1 -->
						
						<div class="col-md-5">
							<!-- Footer Logo -->
							<a href="/">
							<img style="width:120px; height: 100px" class="footer-logo" src="assets/images/cloudinone/logof.png" alt="" />
							</a>
							<!-- Contact Address -->
							<address>
								<ul class="list-unstyled">
									<li class="footer-sprite address">
										Trường Đại học Công nghệ thông tin - ĐHQG HCM<br> Khu phố 6, P. Linh Trung, Q. Thủ Đức, TP. HCM<br>
									</li>
									<li class="footer-sprite phone">
										Số điện thoại: 096 979 18 94 hoặc 058 334 39 90
										
									</li>
									<li class="footer-sprite email">
										<a href="mailto:support@cloudinone.com">support@cloudinone.com</a>
									</li>
								</ul>
							</address>
						</br>

						</div>

						<!-- /col #1 -->

						<!-- col #2 -->

						<!-- col #1 -->
						<div class="col-md-3">

							<!-- Links -->
							<h4 class="letter-spacing-1">THÔNG TIN THÊM</h4>
									<ul class="list-unstyled footer-list half-paddings b-0">
										<li><a class="block" href="/aboutUs"><i class="fa fa-angle-right"></i> Về chúng tôi</a></li>
										<li><a class="block" href="/#features"><i class="fa fa-angle-right"></i> Các dịch vụ</a></li>
										<li><a class="block" href="/"><i class="fa fa-angle-right"></i> FAQ</a></li>
									</ul>
							<!-- /Links -->

						</div>
						<div class="col-md-4">

							<!-- Newsletter Form -->
							<h4 class="letter-spacing-1">NGUỒN</h4>
									<p>Vui lòng liên hệ đội ngũ xây dựng để có nhiều hơn thông tin.</p>
									<p>Hãy đăng ký nhận thông báo với CloudInOne</p>

							<form class="validate" action="#" method="post" data-success="Đã đăng ký! Cảm ơn!" data-toastr-position="bottom-right">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
									<input type="email" id="email" name="email" class="form-control required" placeholder="Nhập vào email của bạn">
									<span class="input-group-btn">
										<button class="btn btn-success" type="submit">Đăng ký</button>
									</span>
								</div>
							</form>
							<!-- /Newsletter Form -->

							<!-- Social Icons -->
							<div class="margin-top-20">
								<a href="#" class="social-icon social-icon-border social-facebook pull-left" data-toggle="tooltip" data-placement="top" title="Facebook">

									<i class="icon-facebook"></i>
									<i class="icon-facebook"></i>
								</a>
								<a href="#" class="social-icon social-icon-border social-facebook pull-left" data-toggle="tooltip" data-placement="top" title="Facebook">

									<i class="icon-facebook"></i>
									<i class="icon-facebook"></i>
								</a>
								<a href="#" class="social-icon social-icon-border social-gplus pull-left" data-toggle="tooltip" data-placement="top" title="Google">
									<i class="icon-google"></i>
									<i class="icon-google"></i>
								</a>

					
							</div>
							<!-- /Social Icons -->

						</div>

						<!-- /col #2 -->

						<!-- col #3 -->
						<!-- col #1 -->
						
						<!-- /col #3 -->

					</div>

				</div>

				<div class="copyright">
					<div class="container">
						<ul class="float-right m-0 list-inline mobile-block">
							<li><a href="#">Điều khoản sử dụng</a></li>
							<li>&bull;</li>
							<li><a href="#">Chính sách</a></li>
						</ul>
						&copy; All Rights Reserved, UIT Group - Nghĩa - Huyên
					</div>
				</div>
			</footer>
			<!-- /FOOTER -->
		</div>
		<!-- /wrapper -->


		<!-- SCROLL TO TOP -->
		<a href="#" id="toTop"></a>


		<!-- PRELOADER -->
		<div id="preloader">
			<div class="inner">
				<span class="loader"></span>
			</div>
		</div><!-- /PRELOADER -->


		<!-- JAVASCRIPT FILES -->
		<script type="text/javascript">var plugin_path = 'assets/plugins/';</script>
		<script type="text/javascript" src="assets/plugins/jquery/jquery-2.2.3.min.js"></script>

		<script type="text/javascript" src="assets/js/scripts.js"></script>
		
		<!-- STYLESWITCHER - REMOVE -->
		<script async type="text/javascript" src="demo_files/styleswitcher/styleswitcher.js"></script>
	</body>
</html>