<% include master %>
<% include header %>
	<!-- HOME -->
	<section id="home" class="height-450" style="background:url('demo_files/images/wall2.jpg'); color:rgb(2, 39, 24); font-family: Lucida Sans Unicode; font-weight: 600; ">
				<div class="display-table">
					<div class="display-table-cell vertical-align-middle">
						
						<div class="container text-center">
							
							<img src="assets/images/cloudinone/home.png" alt="ClouInOne">
							<h1 class="nomargin size-48 weight-500 wow fadeInUp" data-wow-delay="0.4s" style="color: rgb(50, 107, 50);"><b>CloudInOne</b> - Manager multiple cloud account</h1>
							<p class="lead font-lato size-28 wow fadeInUp margin-top-10 margin-bottom-10"  style="color: dark;">Easy to Manager and View collaborate on files and folders from any mobile device, tablet, or computer all personal data of multi cloud as on only one cloud</p>
							
							<div class="margin-top-30 " style="z-index: 99;">
								<a href="/dashboard" class="btn btn-3d btn-lg shadowH" style="background: rgb(50, 107, 50); color: white;"><i class="glyphicon glyphicon-user"></i>GO TO MY ACCOUNT</a>
								<span class="size-17 hidden-xs">&nbsp; OR &nbsp;</span>
								<a href="/signup" class="btn btn-3d btn-lg btn-red shadowH"><i class="glyphicon glyphicon-plus"></i>CREATE ONE</a>
							</div>

						</div>

					</div>
				</div>
				
	</section>
	<!-- /HOME -->

	<!-- FEATURES -->
	<section id="features" style="color:rgb(2, 39, 24); font-family: Lucida Sans Unicode; font-weight: 500;">
				<div class="container">
					
					<header class="text-center margin-bottom-60 margin-top-50">
						<hr>
						<h2 style="color: darkgreen;font-weight: 700;">Our Features</h2>
						<p class="lead font-lato">Some Features are usefull </p>
						<hr />
					</header>
					<div class="row">

						<!-- POST ITEM -->
						<div class="blog-post-item col-md-6 col-sm-6">

							<!-- OWL SLIDER -->
							<div class="owl-carousel buttons-autohide controlls-over" data-plugin-options='{"items": 1, "autoPlay": 3000, "autoHeight": false, "navigation": true, "pagination": true, "transitionStyle":"fadeUp", "progressBar":"false"}'>
								<div >
									<img style="max-width: 250px; max-height: 250px;" class="responsive" src="assets/images/cloudinone/choose.png" alt="">
								</div>
								<div>
									<img style="max-width: 200px; max-height: 200px;"class="responsive" src="assets/images/logo/onedrive.jpg" alt="">
								</div>
								<div>
									<img style="max-width: 200px; max-height: 200px;"class="responsive" src="assets/images/logo/dropbox.png" alt="">
								</div>
								<div>
									<img style="max-width: 200px; max-height: 200px;"class="responsive" src="assets/images/logo/googledrive.jpg" alt="">
								</div>
							</div>
							<!-- /OWL SLIDER -->

							<h2 style="color: darkgreen;">MANAGER MULTIPLE CLOUD</h2>

							<p>Google Drive account, Dropbox account, OneDrive account with only one app. Manager between two cloud about sync function, transfer function, delete clouds, add clouds into app.
								</p>

						</div>
						<!-- /POST ITEM -->

						<!-- POST ITEM -->
						<div class="blog-post-item col-md-6 col-sm-6">

							<!-- IMAGE -->
							<div class="owl-carousel buttons-autohide controlls-over" data-plugin-options='{"items": 1, "autoPlay": 3000, "autoHeight": false, "navigation": true, "pagination": true, "transitionStyle":"fadeUp", "progressBar":"false"}'>
								<div >
									<img style="max-width: 250px; max-height: 250px;" class="responsive" src="assets/images/cloudinone/accf.png" alt="">
								</div>
								<div>
									<img style="max-width: 300px; max-height: 250px;"class="responsive" src="assets/images/cloudinone/uploadacc.png" alt="">
								</div>
								<div>
									<img style="max-width: 300px; max-height: 2500px;"class="responsive" src="assets/images/cloudinone/detailacc.png" alt="">
								</div>
							</div>

							<h2 style="color: darkgreen;">MANAGER AND HANDLE ON EVERY ACCOUNT</h2>

							<p>Can add, View, download, upload and share all file, folder on Google Drive account, Dropbox account, OneDrive account. </p>

						</div>
						<!-- /POST ITEM -->
						<div class="blog-post-item col-md-6 col-sm-6">

							<!-- IMAGE -->
							<div class="owl-carousel buttons-autohide controlls-over" data-plugin-options='{"items": 1, "autoPlay": 4000, "autoHeight": false, "navigation": true, "pagination": true, "transitionStyle":"fadeUp", "progressBar":"false"}'>
								<div >
									<img style="max-width: 250px; max-height: 250px;" class="responsive" src="assets/images/cloudinone/fi.png" alt="">
								</div>
								<div>
									<img style="max-width: 250px; max-height: 200px;"class="responsive" src="assets/images/cloudinone/fo.png" alt="">
								</div>
							</div>

							<h2 style="color: darkgreen;">USEFULL FUNCTION ON EACH FILE OR FOLDER</h2>

							<p>There are many features of file available as on this Cloud, people can View file, download file, upload file, duplicate file or share them.</p>

						</div>

						<!-- POST ITEM -->
						<div class="blog-post-item col-md-6 col-sm-6">

							<!-- OWL SLIDER -->
							<div class="owl-carousel buttons-autohide controlls-over" data-plugin-options='{"items": 1, "autoPlay": 3000, "autoHeight": false, "navigation": true, "pagination": true, "transitionStyle":"fadeUp", "progressBar":"false"}'>
								<div>
									<img style="max-width: 300px; max-height: 250px;"class="responsive" src="assets/images/cloudinone/zip.png" alt="">
								</div>
								<div>
									<img style="max-width: 300px; max-height: 250px;"class="responsive" src="assets/images/cloudinone/doc.png" alt="">
								</div>
							</div>
							<!-- /OWL SLIDER -->

							<h2 style="color: darkgreen;">CATEGARY BY TYPE</h2>

							<p>You can see all file in all cloud as one by type. Some type as image, document, video, comzirable</p>

						</div>
						<!-- /POST ITEM -->
			
					</div>
				</div>
	</section>
	<!-- / -->

	<!-- SUPPORT -->
	<section id="supported" style="color:rgb(2, 39, 24); font-family: Lucida Sans Unicode; font-weight: 500;">
		<div class="container">

		<header class="text-center margin-bottom-60">
			<h2  style="color: darkgreen; font-weight: 700;">Our Online Storage Services Supported by CloudInOne</h2>
			<p class="lead font-lato">Some Cloud usually to use </p>
			<hr />
		</header>

		<!-- FEATURED BOXES 3 -->
		<div class="row">

			<div class="col-md-4 col-xs-6">
				<div class="text-center">
				
					<img style="max-width: 100px; max-height: 100px;" class="responsive" src="assets/images/logo/googledrive.jpg" alt="Cinque Terre">
				
					<h4 style="color: darkgreen;">Google Drive</h4>
					<p>The maximum storage capacity for every cloud account is 15GB free.</p>
				</div>
			</div>
			<div class="col-md-4 col-xs-6">
				<div class="text-center">
					<img style="max-width: 100px; max-height: 100px;" class="responsive" src="assets/images/logo/dropbox.png" alt="Cinque Terre">
				<h4 style="color: darkgreen;">Dropbox</h4>
					<p>The maximum storage capacity for every cloud account is 2GB free.</p>
				</div>
			</div>
			<div class="col-md-4 col-xs-6">
				<div class="text-center">
					<img style="max-width: 100px; max-height: 100px;" class="responsive" src="assets/images/logo/onedrive.png" alt="Cinque Terre">
				<h4 style="color: darkgreen;"> One Drive</h4>
					<p>The maximum storage capacity for every cloud account is 10GB free.</p>
				</div>
			</div>
		</div>
		<!-- /FEATURED BOXES 3 -->

		<!-- /CLOUD TYPe SUPPORT -->

	</div>
	</section>
	<!-- /Support -->

	<!-- -->
	<section class="alternate" style="color:rgb(2, 39, 24); font-family: Lucida Sans Unicode; font-weight: 500;">
				<div class="container">		
					<div class="text-center">
						<h2 class="wow fadeInUp nomargin" data-wow-delay="0.3s" style="color: darkgreen;">Does CloudInOne convince you?</h2>

						<p class="lead font-lato size-30 wow fadeInUp margin-bottom-60" data-wow-delay="0.5s">Manager Multiple Cloud was never so Easy &amp; Interactive.</p>
						
						<div class="margin-top-30">
							<a href="#" class="btn btn-3d btn-lg" style="background: rgb(50, 107, 50); color: white;"><i class="glyphicon glyphicon-user"></i>GO TO MY ACCOUNT</a>
							<span class="size-17 hidden-xs">&nbsp; OR &nbsp;</span>
							<a href="#" class="btn btn-3d btn-lg btn-red"><i class="glyphicon glyphicon-plus"></i>CREATE ONE</a>
						</div>
					</div>

				</div>
	</section>
	<!-- / -->
<% include footer %>