<!doctype html>
<html>
<head>
    <title>CloudInOne</title>
    <meta name="description" content="" />
	<meta name="Drive CloudInOne - Quản lý dữ liệu người dùng trên nhiều tài khoản đám mây" content="Ứng dụng quản lý dữ liệu người dùng trên nhiều tài khoản đám mây" />
	<meta charset="utf-8" />
	<meta name="Author" content="UIT Group - Nghĩa - Huyên" />
	<base href="/dashboard">
    <!-- mobile settings -->
	<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    
	<!-- WEB FONTS : use %7C instead of | (pipe) -->
	<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@600..700" rel="stylesheet" type="text/css" />
	
	<!-- CORE CSS -->
	<link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

	<!-- SWIPER SLIDER -->
	<link href="assets/plugins/slider.swiper/dist/css/swiper.min.css" rel="stylesheet" type="text/css" />

	<!-- THEME CSS -->
	<link rel="stylesheet" href="assets/css/essentials.css" type="text/css" />
	<link rel="stylesheet" href="assets/css/layout.css" type="text/css" />
	<link rel="stylesheet" href="assets/css/list-file.css" type="text/css" />
	<link rel="stylesheet" href="assets/css/context-menu.css" type="text/css" />
	<link rel="stylesheet" href="assets/css/modal-upload.css" type="text/css" />
	<link rel="stylesheet" href="assets/css/cloud-type.css" type="text/css" />
	<link rel="stylesheet" href="assets/css/layout-file.css" type="text/css" />
	<link rel="stylesheet" href="assets/css/header-6.css" type="text/css" />
	<link rel="stylesheet" href="assets/css/layout-shop.css" type="text/css" />
	<link rel="stylesheet" href="assets/css/color_scheme/green.css" type="text/css" id="color_scheme" />

	<!-- PAGE LEVEL SCRIPTS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		
	<!-- Styles -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

	<!-- JAVASCRIPT FILES -->
	<script type="text/javascript">var plugin_path = 'assets/plugins/';</script>
	<script type="text/javascript" src="assets/plugins/jquery/jquery-2.2.3.min.js"></script>
	<script type="text/javascript" src="assets/js/scripts.js"></script>
	<script type="text/javascript" src="assets/js/dashboard.js"></script>
	<!-- SWIPER SLIDER -->
	<script type="text/javascript" src="assets/plugins/slider.swiper/dist/js/swiper.min.js"></script>
	<script type="text/javascript" src="assets/js/view/demo.swiper_slider.js"></script>
	<script type="text/javascript" src="assets/js/context-menu.js"></script>

	<script type="text/javascript" src="assets/plugins/toastr/toastr.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
</head>