<body class="smoothscroll enable-animation shadow">

		<!-- SLIDE TOP -->
		<!-- /SLIDE TOP -->


		<!-- wrapper -->
		<div id="wrapper">

			<!-- Top Bar -->
			<!-- /Top Bar -->

			<!-- 
				AVAILABLE HEADER CLASSES

				Default nav height: 96px
				Example Usage:  class="clearfix sticky header-sm transparent noborder"
			-->
			<div id="header" class="sticky clearfix header-shadow-2">

				<!-- TOP NAV -->
				<header id="topNav">
					<div class="container">

						<!-- Mobile Menu Button -->
						<button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
							<i class="fa fa-bars"></i>
						</button>

						<!-- BUTTONS -->
						<ul class="pull-right nav nav-pills nav-second-main">							

						<li><a href="/signin" class="btn btn-primary btn-xs pull-right shadow"> Đăng nhập</a></li>
        				<li><a href="/signup" class="btn btn-primary btn-xs pull-right shadow"> Đăng ký</a></li>


							<!-- QUICK SHOP CART -->
							<!-- /QUICK SHOP CART -->

						</ul>
						<!-- /BUTTONS -->

						<!-- Logo -->
						<a class="logo pull-left" href="/">
							<img src="assets/images/_smarty/logo1.png" alt="" />
						</a>


						<!-- 
							Top Nav 
							
							AVAILABLE CLASSES:
							submenu-dark = dark sub menu
						-->
						<div class="navbar-collapse pull-right nav-main-collapse collapse">

							<nav class="nav-main">

								<!--
									NOTE
									
									For a regular link, remove "dropdown" class from LI tag and "dropdown-toggle" class from the href.
									Direct Link Example: 

									<li>
										<a href="#">HOME</a>
									</li>
								-->

								<ul id="topMain" class="nav nav-pills nav-main nav-onepage margin-right-30" >
									<li class="active"><!-- HOME -->
										<a href="/#home">
											TRANG CHỦ
										</a>
									</li>
									<li><!-- FEATURES -->
										<a href="/#features">
											TÍNH NĂNG
										</a>
									</li>
									<li><!-- PRICING -->
										<a href="/#supported">
											ĐÁM MÂY
										</a>
									</li>



									<!-- 
										MENU ANIMATIONS
											.nav-animate-fadeIn
											.nav-animate-fadeInUp
											.nav-animate-bounceIn
											.nav-animate-bounceInUp
											.nav-animate-flipInX
											.nav-animate-flipInY
											.nav-animate-zoomIn
											.nav-animate-slideInUp

											.nav-hover-animate 		= animate text on hover

											.hover-animate-bounceIn = bounceIn effect on mouse over of main menu
									-->
								</ul>

							</nav>
						</div>

					</div>
				</header>
				<!-- /Top Nav -->

			</div>
