<% include master %>
<% include header %>
	<!-- HOME -->
	<section id="home" class="height-450" style="background:url('demo_files/images/wall2.jpg'); color:rgb(2, 39, 24); font-family: Lucida Sans Unicode; font-weight: 600; ">
				<div class="display-table">
					<div class="display-table-cell vertical-align-middle">
						
						<div class="container text-center">
							
							<img src="assets/images/cloudinone/home.png" alt="CloudInOne">
							<h1 class="nomargin size-48 weight-500 wow fadeInUp" data-wow-delay="0.4s" style="color: rgb(50, 107, 50);"><b>CloudInOne</b> - Quản lý dữ liệu người dùng trên các tài khoản đám mây</h1>
							<p class="lead font-lato size-18 wow fadeInUp margin-top-10 margin-bottom-10 margin-top-10"  style="color: dark;">Dễ dàng xem và quản lý tất cả các thư mục và tệp trên tất cả các tài khoản đám mây thuộc nhiều loại đám mây khác nhau của người dùng thêm vào ứng dụng như trên một tài khoản đám mây</p>
							
							<div class="margin-top-30 " style="z-index: 99;font-family: 'Open Sans',Arial,Helvetica,sans-serif;">
								<a href="/dashboard" class="btn btn-3d btn-lg shadowH" style="background: rgb(50, 107, 50); color: white; "><i class="glyphicon glyphicon-user"></i>DRIVE CỦA TÔI</a>
								<span class="size-17 hidden-xs">&nbsp; HOẶC &nbsp;</span>
								<a href="/signup" class="btn btn-3d btn-lg btn-red shadowH"><i class="glyphicon glyphicon-plus"></i>TẠO TÀI KHOẢN</a>
							</div>

						</div>

					</div>
				</div>
				
	</section>
	<!-- /HOME -->

	<!-- FEATURES -->
	<section id="features" style="color:rgb(2, 39, 24); font-family: Lucida Sans Unicode; font-weight: 500;">
				<div class="container">
					
					<header class="text-center margin-bottom-60 margin-top-50">
						<hr>
						<h2 style="color: darkgreen;font-weight: 700;">TÍNH NĂNG</h2>
						<p class="lead font-lato">Những tính năng hữu dụng CloudInOne cung cấp </p>
						<hr />
					</header>
					<div class="row">

						<!-- POST ITEM -->
						<div class="blog-post-item col-md-6 col-sm-6">

							<!-- OWL SLIDER -->
							<div class="owl-carousel buttons-autohide controlls-over" data-plugin-options='{"items": 1, "autoPlay": 3000, "autoHeight": false, "navigation": true, "pagination": true, "transitionStyle":"fadeUp", "progressBar":"false"}'>
								<div >
									<img style="max-width: 250px; max-height: 250px;" class="responsive" src="assets/images/cloudinone/choose.png" alt="">
								</div>
								<div>
									<img style="max-width: 200px; max-height: 200px;"class="responsive" src="assets/images/logo/onedrive.jpg" alt="">
								</div>
								<div>
									<img style="max-width: 200px; max-height: 200px;"class="responsive" src="assets/images/logo/dropbox.png" alt="">
								</div>
								<div>
									<img style="max-width: 200px; max-height: 200px;"class="responsive" src="assets/images/logo/googledrive.jpg" alt="">
								</div>
							</div>
							<!-- /OWL SLIDER -->

							<h2 style="color: darkgreen;">QUẢN LÝ NHIỀU LOẠI ĐÁM MÂY</h2>

							<p>Tài khoản Google Drive, Dropbox, OneDrive sẽ được quản lý và thao tác chỉ trên một CloudInOne. Bạn có thể thao tác giữa các đám mây , chuyển tệp và thư mục giữa các đám mây, thêm và xoá nhiều đám mây trên CloudInOne.
								</p>

						</div>
						<!-- /POST ITEM -->

						<!-- POST ITEM -->
						<div class="blog-post-item col-md-6 col-sm-6">

							<!-- IMAGE -->
							<div class="owl-carousel buttons-autohide controlls-over" data-plugin-options='{"items": 1, "autoPlay": 3000, "autoHeight": false, "navigation": true, "pagination": true, "transitionStyle":"fadeUp", "progressBar":"false"}'>
								<div >
									<img style="max-width: 250px; max-height: 250px;" class="responsive" src="assets/images/cloudinone/accf.png" alt="">
								</div>
								<div>
									<img style="max-width: 300px; max-height: 250px;"class="responsive" src="assets/images/cloudinone/uploadacc.png" alt="">
								</div>
								<div>
									<img style="max-width: 300px; max-height: 2500px;"class="responsive" src="assets/images/cloudinone/detailacc.png" alt="">
								</div>
							</div>

							<h2 style="color: darkgreen;">QUẢN LÝ VÀ THAO TÁC TRÊN MỖI TÀI KHOẢN ĐÁM MÂY</h2>

							<p>Xem chi tiết tài khoản đám mây, tải lên tệp và thư mục,chỉ hiển thị mỗi đám mây đươc chọn trên mỗi tài khoản đám mây Google, OneDrive, Dropbox được thêm vào. </p>

						</div>
						<!-- /POST ITEM -->
						<div class="blog-post-item col-md-6 col-sm-6">

							<!-- IMAGE -->
							<div class="owl-carousel buttons-autohide controlls-over" data-plugin-options='{"items": 1, "autoPlay": 4000, "autoHeight": false, "navigation": true, "pagination": true, "transitionStyle":"fadeUp", "progressBar":"false"}'>
								<div >
									<img style="max-width: 250px; max-height: 250px;" class="responsive" src="assets/images/cloudinone/fi.png" alt="">
								</div>
								<div>
									<img style="max-width: 250px; max-height: 200px;"class="responsive" src="assets/images/cloudinone/fo.png" alt="">
								</div>
							</div>

							<h2 style="color: darkgreen;">CÁC TÍNH NĂNG HỮU ÍCH TRÊN TỆP VÀ THƯ MỤC</h2>

							<p>Có rất nhiều tính năng hữu ích trên tệp và thư mục như xem, tải lên, tải xuống, di chuyển, sao chép, chia sẻ trên mỗi tệp và giữa các tệp của các tài khoản đám mây khác nhau.</p>

						</div>

						<!-- POST ITEM -->
						<div class="blog-post-item col-md-6 col-sm-6">

							<!-- OWL SLIDER -->
							<div class="owl-carousel buttons-autohide controlls-over" data-plugin-options='{"items": 1, "autoPlay": 3000, "autoHeight": false, "navigation": true, "pagination": true, "transitionStyle":"fadeUp", "progressBar":"false"}'>
								<div>
									<img style="max-width: 300px; max-height: 250px;"class="responsive" src="assets/images/cloudinone/zip.png" alt="">
								</div>
								<div>
									<img style="max-width: 300px; max-height: 250px;"class="responsive" src="assets/images/cloudinone/doc.png" alt="">
								</div>
							</div>
							<!-- /OWL SLIDER -->

							<h2 style="color: darkgreen;">PHÂN LOẠI TỆP</h2>

							<p>Bạn có thể chọn xem tất cả các tệp theo loại của chúng. Hỗ trợ một số loại như Hình ảnh, Video, Tài liệu, Tệp nén, Tệp không xác định.</p>

						</div>
						<!-- /POST ITEM -->
			
					</div>
				</div>
	</section>
	<!-- / -->

	<!-- SUPPORT -->
	<section id="supported" style="color:rgb(2, 39, 24); font-family: Lucida Sans Unicode; font-weight: 500;">
		<div class="container">

		<header class="text-center margin-bottom-60">
			<h2  style="color: darkgreen; font-weight: 700;">DỊCH VỤ ĐÁM MÂY ĐƯỢC HỔ TRỢ BỞI CLOUDINONE</h2>
			<p class="lead font-lato">Một số dịch vụ đám mây CloudInOne cho phép người dùng thêm vào trong ứng dụng </p>
			<hr />
		</header>

		<!-- FEATURED BOXES 3 -->
		<div class="row">

			<div class="col-md-4 col-xs-6">
				<div class="text-center">
				
					<img style="max-width: 100px; max-height: 100px;" class="responsive" src="assets/images/logo/googledrive.jpg" alt="Cinque Terre">
				
					<h4 style="color: darkgreen;">Google Drive</h4>
					<p>Dung lượng lưu trữ miễn phí tối đa trên mỗi tài khoản đám mây là 15GB.</p>
				</div>
			</div>
			<div class="col-md-4 col-xs-6">
				<div class="text-center">
					<img style="max-width: 100px; max-height: 100px;" class="responsive" src="assets/images/logo/dropbox.png" alt="Cinque Terre">
				<h4 style="color: darkgreen;">Dropbox</h4>
					<p>Dung lượng lưu trữ miễn phí tối đa trên mỗi tài khoản đám mây là 2GB.</p>
				</div>
			</div>
			<div class="col-md-4 col-xs-6">
				<div class="text-center">
					<img style="max-width: 100px; max-height: 100px;" class="responsive" src="assets/images/logo/onedrive.png" alt="Cinque Terre">
				<h4 style="color: darkgreen;"> One Drive</h4>
					<p>Dung lượng lưu trữ miễn phí tối đa trên mỗi tài khoản đám mây là 10GB.</p>
				</div>
			</div>
		</div>
		<!-- /FEATURED BOXES 3 -->

		<!-- /CLOUD TYPe SUPPORT -->

	</div>
	</section>
	<!-- /Support -->

	<!-- -->
	<section class="alternate" style="color:rgb(2, 39, 24); font-family: Lucida Sans Unicode; font-weight: 500;">
				<div class="container">		
					<div class="text-center">
						<h2 class="wow fadeInUp nomargin" data-wow-delay="0.3s" style="color: darkgreen;">Còn chờ gì nữa mà không đến với CloudInOne nào ?</h2>

						<p class="lead font-lato size-30 wow fadeInUp margin-bottom-60" data-wow-delay="0.5s">Quản lý nhiều tài khoản đám mây quá dễ dàng với CloudInOne</p>
						
						<div class="margin-top-30" style="font-family: 'Open Sans',Arial,Helvetica,sans-serif;">
							<a href="#" class="btn btn-3d btn-lg" style="background: rgb(50, 107, 50); color: white;"><i class="glyphicon glyphicon-user"></i>DRIVE CỦA TÔI</a>
							<span class="size-17 hidden-xs">&nbsp; HOẶC &nbsp;</span>
							<a href="#" class="btn btn-3d btn-lg btn-red"><i class="glyphicon glyphicon-plus"></i>TẠO TÀI KHOẢN</a>
						</div>
					</div>

				</div>
	</section>
	<!-- / -->
<% include footer %>