<% include master %>
<% include header %>
	<!-- HOME -->
	<section id="home" class="height-450" style="background:url('demo_files/images/wall2.jpg'); color:rgb(2, 39, 24); font-family: Lucida Sans Unicode; font-weight: 600; ">
		<label for="name">Hoàng Tọng Nghĩa</label>
		<label for="name">Võ Thị Ngọc Huyên</label>	
	</section>
	<!-- /HOME -->

<% include footer %>