<!-- FOOTER -->
			<footer id="footer">
				<div class="container pt-0 pb-0">

					<div class="row mt-60 mb-0 fs-13">

						<!-- col #1 -->
						
						<div class="col-md-5">
							<!-- Footer Logo -->
							<img style="width:120px; height: 100px" class="footer-logo" src="assets/images/_smarty/logo1.png" alt="" />

							<!-- Contact Address -->
							<address>
								<ul class="list-unstyled">
									<li class="footer-sprite address">
										University of Information Technology - HCMU<br> Khu phố 6,P. Linh Trung, Q. Thủ Đức, TP. HCM<br>
									</li>
									<li class="footer-sprite phone">
										Phone: 1-800-565-2390
									</li>
									<li class="footer-sprite email">
										<a href="mailto:support@cloudinone.com">support@cloudinone.com</a>
									</li>
								</ul>
							</address>
						</br>

						</div>

						<!-- /col #1 -->

						<!-- col #2 -->

						<!-- col #1 -->
						<div class="col-md-3">

							<!-- Links -->
							<h4 class="letter-spacing-1">EXPLORE US</h4>
									<ul class="list-unstyled footer-list half-paddings b-0">
										<li><a class="block" href="/aboutUs"><i class="fa fa-angle-right"></i> About Us</a></li>
										<li><a class="block" href="#"><i class="fa fa-angle-right"></i> About Our Team</a></li>
										<li><a class="block" href="#"><i class="fa fa-angle-right"></i> Services</a></li>
										<li><a class="block" href="#"><i class="fa fa-angle-right"></i> Careers</a></li>
										<li><a class="block" href="#"><i class="fa fa-angle-right"></i> FAQ</a></li>
									</ul>
							<!-- /Links -->

						</div>
						<div class="col-md-4">

							<!-- Newsletter Form -->
							<h4 class="letter-spacing-1">RESOURCES</h4>
									<p>You can get resource here.</p>
							<p>Subscribe to Our CloudInOne to get Important News &amp; Offers</p>

							<form class="validate" action="php/newsletter.php" method="post" data-success="Subscribed! Thank you!" data-toastr-position="bottom-right">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
									<input type="email" id="email" name="email" class="form-control required" placeholder="Enter your Email">
									<span class="input-group-btn">
										<button class="btn btn-success" type="submit">Subscribe</button>
									</span>
								</div>
							</form>
							<!-- /Newsletter Form -->

							<!-- Social Icons -->
							<div class="margin-top-20">
								<a href="#" class="social-icon social-icon-border social-facebook pull-left" data-toggle="tooltip" data-placement="top" title="Facebook">

									<i class="icon-facebook"></i>
									<i class="icon-facebook"></i>
								</a>

								<a href="#" class="social-icon social-icon-border social-twitter pull-left" data-toggle="tooltip" data-placement="top" title="Twitter">
									<i class="icon-twitter"></i>
									<i class="icon-twitter"></i>
								</a>

								<a href="#" class="social-icon social-icon-border social-gplus pull-left" data-toggle="tooltip" data-placement="top" title="Google plus">
									<i class="icon-gplus"></i>
									<i class="icon-gplus"></i>
								</a>

								<a href="#" class="social-icon social-icon-border social-linkedin pull-left" data-toggle="tooltip" data-placement="top" title="Linkedin">
									<i class="icon-linkedin"></i>
									<i class="icon-linkedin"></i>
								</a>

								<a href="#" class="social-icon social-icon-border social-rss pull-left" data-toggle="tooltip" data-placement="top" title="Rss">
									<i class="icon-rss"></i>
									<i class="icon-rss"></i>
								</a>
					
							</div>
							<!-- /Social Icons -->

						</div>

						<!-- /col #2 -->

						<!-- col #3 -->
						<!-- col #1 -->
						
						<!-- /col #3 -->

					</div>

				</div>

				<div class="copyright">
					<div class="container">
						<ul class="float-right m-0 list-inline mobile-block">
							<li><a href="#">Terms &amp; Conditions</a></li>
							<li>&bull;</li>
							<li><a href="#">Privacy</a></li>
						</ul>
						&copy; All Rights Reserved, UIT Group
					</div>
				</div>
			</footer>
			<!-- /FOOTER -->
		</div>
		<!-- /wrapper -->


		<!-- SCROLL TO TOP -->
		<a href="#" id="toTop"></a>


		<!-- PRELOADER -->
		<div id="preloader">
			<div class="inner">
				<span class="loader"></span>
			</div>
		</div><!-- /PRELOADER -->


		<!-- JAVASCRIPT FILES -->
		<script type="text/javascript">var plugin_path = 'assets/plugins/';</script>
		<script type="text/javascript" src="assets/plugins/jquery/jquery-2.2.3.min.js"></script>

		<script type="text/javascript" src="assets/js/scripts.js"></script>
		
		<!-- STYLESWITCHER - REMOVE -->
		<script async type="text/javascript" src="demo_files/styleswitcher/styleswitcher.js"></script>
	</body>
</html>